body{
    background: #F7F7F7;
    font-family: "Century Schoolbook";
    margin-left: 100px;
    margin-right: 100px;
    margin-top:-10px;
    margin-bottom: 10px;
}

h1{
    font-size: 45px;
    text-decoration: underline;
}

h2{
    color: red;
    margin-bottom: 50px;
}

h3{
    font-weight: bold;
    text-decoration: underline;
    margin-top:7px;
}

h4{
    text-align: center;
}

table{
    margin-bottom: 10px;
}

form{
    margin-bottom: 20px;   
}

button{
    height:32px;
    font-size:15px;
}

th{
    font-size: 30px;
}

td{
    margin-right: 30px;
    font-size:16px;
}

tr{
    font-size: 16px;
}

nav{
    height: 42px;
    background-color: #800000;
}

nav ul{
    list-style: none;
}

nav ul li a{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 40px;
    text-align: center;
    line-height: 42px;
    height: 42px;
}

nav ul li a:hover{
    background-color: #FFFFFF;
    border-radius: 8px;
}

nav ul li a.active{
    background-color: white;
    border-radius: 8px;
    color: #800000;
}

.complete{
    font-weight: bold;
    color:#41EF00;
}

.notComplete{
    font-weight: bold;
    color:red;
}

.editrow {
  margin: 0 3px;
  padding: 2px;
}

.inputTableText {
    font-size:20px;
}

.newTaskBox{
    border: 3px solid #000000; 
    background-color:#DCDCDC;
}

.descriptionInputBox{
    width: 400px;
    height:30px;
}

.progress{
    text-align: center;
    height: 25px;
    margin-top: 20px;
}

.highPriority{
    background-color:rgba(255,0,0,0.4);
}

.mediumPriority{
    background-color:rgba(255,140,0,0.4);
}

.lowPriority{
    background-color:rgba(255,215,0,0.4);
}

.styled-select {
   height: 30px;
   overflow: hidden;
   font-size: 17px;
   width: 130px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}