<!DOCTYPE html>
<html ng-app="toDoList">
<head>
    <meta charset="UTF-8"></meta>
    <title>To do list</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"></link>
    <link href="./font/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="./css/style.css"></link>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="./js/route/config.js"></script>
    <script type="text/javascript" src="./js/controllers/toDoListCtrl.js"></script>
</head>
<body ng-controller="toDoListCtrl">
    <nav>
        <ul>
            <li><a href="#" ng-click="setActive(menuItems.home)" ng-class="{active : activeMenu == menuItems.home}">{{menuItems.home}}</a></li>
            <li><a ui-sref="createList" ng-click="setActive(menuItems.createList)" ng-class="{active : activeMenu == menuItems.createList}">{{menuItems.createList}}</a></li>
            <li><a ui-sref="contact" ng-click="setActive(menuItems.contact)" ng-class="{active : activeMenu == menuItems.contact}">{{menuItems.contact}}</a></li>
        </ul>
    </nav>
    <div ui-view=""></div>
</body>
</html>
